html,
body {
    overflow-x: hidden;
    font-size: 16px;
    height: 100%;
    width: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    width: 100%;
}

h2 {
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
    width: 100%;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    width: 100%;
}

p {
    font-size: 1.35rem;
}

ul {
    padding: 1rem 2rem;
}

ol {
    padding: 1rem 3.25rem;
}

li {
    font-size: 1.25rem;
    margin-bottom: 0.25rem;
}

section {
    width: 100%;
}

blockquote {
    display: flex;
    width: 100%;
    background-color: rgb(235, 235, 235);
    border-left: 0.5rem solid rgb(245, 180, 25);
    margin: 1.5em 10px;
    padding: 0.5em 10px;
}

blockquote:before {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(25, 25, 25);
    content: "“";
    font-size: 4em;
    line-height: 0;
    position: relative;
    top: 1.5rem;
}

blockquote:after {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(25, 25, 25);
    content: "”";
    font-size: 4em;
    line-height: 0;
    position: relative;
    top: 1.5rem;
}

blockquote div {
    padding: 0 1rem;
    flex: 1;
}